.formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
fieldset {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
}

#submit {
    width: 25%;
    cursor: pointer;
    border: 1px solid black;
    align-items: center !important ;
}

#submit:hover {
    width: 25%;
    background-color: rgb(160, 157, 157);
}

.form {
    width: 30%;
}

.form input {
    height: 30px;
    margin: 12px;
    width: 90%;
    border-radius: 8px;
    border: 1px solid black;
}
.form label {
    text-align: start;
    margin-left: 17px;
    margin-top: 5px;
}

h1 {
    text-align: center;
}